name: CI api-lghctrp3

on:
  push:
    branches: [ "lahatra3" ]

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
         working-directory: ./server/
    strategy:
         matrix:
            node-version: [16.17.0]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 16.17.0
      uses: actions/setup-node@v3.4.1
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: './server/package-lock.json'
    - run: npm ci --legacy-peer-deps
        
    - name: "Install dependencies..."
      run: | 
        npm ci
        npm install -g @nestjs/cli
        git clone https://github.com/lahatra3/lghctrp3.git && cd lghctrp3/api
        npm install
        npm test
    
    - uses: actions/checkout@master
    - name: Merge to main
      uses: devmasx/merge-branch@master
      with:
        type: now
        from_branch: lahatra3
        target_branch: main
        github_token: ${{ secrets.USER_TOKEN }}
